<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="image/favicon.png" rel="icon" />
  <title>HOWDYS</title>
  <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
  <!-- CSS Part Start-->
  <% include ../partials/bootstrap %>
  <!-- CSS Part End-->
  <body>
<div class="wrapper-wide">
  <div id="header">
    <!-- Top Bar Start-->
    <% include ../partials/top %>
    <!-- Top Bar End-->
    <!-- Header Start-->
    <% include ../partials/admin-logo-section %>
    <!-- Header End-->
    <!-- Main Menu Start-->
    <% include ../partials/admin-header %>
    <!-- Main Menu End-->
  </div>
<br>
<div class="row">
  <div class="col-lg-offset-1 col-lg-10">
    <form action="/uploads"  method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-3">
            <h5>Product Name </h5>
          </div>
          <div class="col-lg-9">
            <input type="text" name="name">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <h5>Category </h5>
          </div>
          <div class="col-lg-9">
            <select name="category">
              <option value="vegetables">Vegetables</option>
              <option value="fruits">Fruits</option>
              <option value="staples">Staples</option>
              <option value="pcare">Personal Care</option>
              <option value="kitchen">Kitchen</option>
           </select>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
              <h5>Sub Category </h5>
            </div>
            <div class="col-lg-9 ">
              <input type="text" name="subCategory">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
                <h5>Current Price </h5>
              </div>
              <div class="col-lg-9 ">
                <input type="text" name="price">
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3 ">
                  <h5>Prev Price </h5>
                </div>
                <div class="col-lg-9">
                  <input type="text" name="prevPrice">
                </div>
              </div>
        <div class="row">
          <div class="col-lg-3">
            <h5>Product description </h5>
          </div>
          <div class="col-lg-9">
            <input type="text" name="note">
          </div>
        </div>
      </div>

<div class="col-lg-6">
  Select an image to upload:
    <input type="file" name="image">


      </div>
    </div>
    <input class="btn btn-success" type="submit" value="Save">
      </form>
</div>
</div>
</div>
              <!-- JS Part Start-->
        <% include ../partials/footer-script %>
        <!-- JS Part End-->
  </body>
  </html>
