<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="format-detection" content="telephone=no" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="image/favicon.png" rel="icon" />
  <title>Contact Us</title>
  <meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
  <!-- CSS Part Start-->
  <% include ../partials/bootstrap %>
  <!-- CSS Part End-->
</head>
<body>
<div class="wrapper-wide">
  <div id="header">
    <!-- Top Bar Start-->
    <% include ../partials/top %>
    <!-- Top Bar End-->
    <!-- Header Start-->
    <% include ../partials/logo-section %>
    <!-- Header End-->
    <!-- Main Menu Start-->
    <% include ../partials/admin-header %>
    <!-- Main Menu End-->
  </div>

<div class="row">
<div class="col-lg-offset-2 col-lg-8">

  <div class="row-fluid">

      <form class="form-horizontal span12">

          <fieldset>

              <legend>Item Details</legend>
              <br/>

              <div class="row">
                  <div class="col-lg-6">


                      <div class="control-group">
                          <label for="name" class="control-label">Name:</label>

                          <div class="controls">
                              <input type="text" id="name" name="name" value=""/>
                              <span class="help-inline"></span>
                          </div>
                      </div>

                      <div class="control-group">
                          <label for="category" class="control-label">Category:</label>

                          <div class="controls">
                              <input type="text" id="category" name="category" value=""/>
                              <span class="help-inline"></span>
                          </div>
                      </div>

                      <div class="control-group">
                          <label for="sub" class="control-label">Sub-Category:</label>

                          <div class="controls">
                              <input type="text" id="sub" name="sub" value=""/>
                          </div>
                      </div>

                      <div class="control-group">
                          <label for="price" class="control-label">Price:</label>

                          <div class="controls">
                              <input type="text" id="country" name="price" value=""/>
                              <span class="help-inline"></span>
                          </div>
                      </div>

                      <div class="control-group">
                          <label for="prev-price" class="control-label">Previous Price:</label>

                          <div class="controls">
                              <input id="prev-price" name="prev-price" type="text" value=""/>
                          </div>
                      </div>


                      <div class="control-group">
                          <label for="description" class="control-label">Notes:</label>

                          <div class="controls">
                              <textarea id="description" name="description" style="width: 90%;" rows="6"></textarea>
                          </div>
                      </div>

                  </div>

                  <div class="col-lg-6">
                    <div class="fileinput fileinput-new" data-provides="fileinput">
  <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 150px;"></div>
  <div>
    <span class="btn btn-default btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
    <a href="#" class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
  </div>
</div>
                  </div>

              </div>

          </fieldset>

          <div class="form-actions">
              <a href="#" class="btn btn-primary save">Save</a>
              <a href="#" class="btn delete">Delete</a>
          </div>

      </form>

  </div>

  <div class="row-fluid status-bar">
      <div class="span12">
          <div class="alert alert-success" style="display: none">
              <b>Success!</b> Item saved successfully
          </div>
      </div>
  </div>

</div>

</div>


  <!--Footer Start-->
<% include ../partials/footer %>
  <!-- Custom Side Block End -->
</div>
<!-- JS Part Start-->
<% include ../partials/footer-script %>
<!-- JS Part End-->
</body>
</html>
