<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a class="home_link" title="Home" href="/dashboard"><span>Home</span></a></li>
        <li class="mega-menu dropdown"><a href="/admin-vegetables">Vegetables</a>
        </li>
        <li class="menu_brands dropdown"><a href="/admin-fruits">Fruits</a>
        </li>
        <li class="custom-link"><a href="/admin-staples">Staple & Grocers</a></li>
        <li class="menu_brands dropdown"><a href="/admin-kitchen">Kitchen</a>
        </li>
        <li class="menu_brands dropdown"><a href="/admin-pcare">Personal Care</a>
        </li>
        <li class="dropdown information-link"><a>Blog</a>
        </li>
        <li class="contact-link"><a href="add-item">Add Item</a></li>
        <li class="contact-link"><a href="contact">Contact Us</a></li>
        <li class="dropdown information-link"><a>Pages</a>
          <div class="dropdown-menu">
            <ul>
              <% if(!user) {%>
              <li><a href="/loginp">Login</a></li>
              <li><a href="/register">Register</a></li>
              <% } %>
              <% if(user) {%>
              <li><a href="/logout">Logout</a></li>
              <% } %>
              <li><a href="/admins">Admins</a></li>
              <li><a href="/dashboard">Customers</a></li>
              <li><a href="cart.html">Shopping Cart</a></li>
              <li><a href="checkout.html">Checkout</a></li>
              <li><a href="compare.html">Compare</a></li>
              <li><a href="wishlist.html">Wishlist</a></li>
              <li><a href="search.html">Search</a></li>
            </ul>
            <ul>
              <li><a href="about-us.html">About Us</a></li>
              <li><a href="404.html">404</a></li>
              <li><a href="elements.html">Elements</a></li>
              <li><a href="faq.html">Faq</a></li>
              <li><a href="sitemap.html">Sitemap</a></li>
              <li><a href="contact-us.html">Contact Us</a></li>
            </ul>
          </div></li>

        <li class="contact-link"><a href="contact">Contact Us</a></li>
        <li class="custom-link-right"><a href="#" target="_blank"><%= user.username %></a></li>
      </ul>
    </div>
  </nav>
</div>
