<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"> <span class="visible-xs visible-sm"> Menu <b></b></span></div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <li><a class="home_link" title="Home" href="/dashboard"><span>Home</span></a></li>
        <li class="mega-menu dropdown"><a href="/admin-vegetables">Vegetables</a>
        </li>
        <li class="menu_brands dropdown"><a href="/admin-fruits">Fruits</a>
        </li>
        <li class="custom-link"><a href="/admin-staples">Staple &amp; Grocers</a></li>
        <li class="menu_brands dropdown"><a href="/admin-kitchen">Kitchen</a>
        </li>
        <li class="menu_brands dropdown"><a href="/admin-pcare">Personal Care</a>
        </li>
        <li class="dropdown information-link"><a>Blog</a>
        </li>
        <li class="contact-link"><a href="add-item">Add Item</a></li>
        <li class="contact-link"><a href="contact">Contact Us</a></li>

        <li class="contact-link"><a href="contact">Contact Us</a></li>
        <li class="custom-link-right"><a href="#" target="_blank">Username</a></li>
      </ul>
    </div>
  </nav>
</div>
