<header class="header-row">
  <div class="container">
    <div class="table-container">
      <!-- Logo Start -->
      <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
        <div id="logo"><a href="/"><img class="img-responsive" src="image/logo.png" title="MarketShop" alt="MarketShop" /></a></div>
      </div>
      <!-- Logo End -->
      <!-- Mini Cart Start-->
      <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <% if(!user) { %>

          <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
          <a href="register" class="btn btn-primary">Continue</a> </div>

          <% } %>
        <% if(user) { %>
        <div id="cart">
          <button type="button" data-toggle="dropdown" data-loading-text="Loading..." class="heading dropdown-toggle">
          <span class="cart-icon pull-left flip"></span>
          <span id="cart-total">2 item(s) - ksh.1,132.00</span></button>
          <ul class="dropdown-menu">
            <li>
              <table class="table">
                <tbody>
                  <tr>
                    <td class="text-center"><a href="product.html"><img class="img-thumbnail" title="Xitefun Causal Wear Fancy Shoes" alt="Xitefun Causal Wear Fancy Shoes" src="image/product/sony_vaio_1-50x50.jpg"></a></td>
                    <td class="text-left"><a href="product.html">Spinach</a></td>
                    <td class="text-right">x 1</td>
                    <td class="text-right">$902.00</td>
                    <td class="text-center"><button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button></td>
                  </tr>
                  <tr>
                    <td class="text-center"><a href="product.html"><img class="img-thumbnail" title="Aspire Ultrabook Laptop" alt="Aspire Ultrabook Laptop" src="image/product/samsung_tab_1-50x50.jpg"></a></td>
                    <td class="text-left"><a href="product.html">Broccoli</a></td>
                    <td class="text-right">x 1</td>
                    <td class="text-right">$230.00</td>
                    <td class="text-center"><button class="btn btn-danger btn-xs remove" title="Remove" onClick="" type="button"><i class="fa fa-times"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </li>
            <li>
              <div>
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <td class="text-right"><strong>Sub-Total</strong></td>
                      <td class="text-right">$940.00</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>VAT (16%)</strong></td>
                      <td class="text-right">$188.00</td>
                    </tr>
                    <tr>
                      <td class="text-right"><strong>Total</strong></td>
                      <td class="text-right">$1,132.00</td>
                    </tr>
                  </tbody>
                </table>
                <p class="checkout"><a href="/cart" class="btn btn-primary"><i class="fa fa-shopping-cart"></i> View Cart</a>&nbsp;&nbsp;&nbsp;<a href="checkout.html" class="btn btn-primary"><i class="fa fa-share"></i> Checkout</a></p>
              </div>
            </li>
          </ul>
        </div>
        <% } %>
      </div>
      <!-- Mini Cart End-->
      <!-- Search Start-->
      <% if(user)  { %>
      <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12 inner">
        <div id="search" class="input-group">
          <input id="filter_name" type="text" name="search" value="" placeholder="Search" class="form-control input-lg" />
          <button type="button" class="button-search"><i class="fa fa-search"></i></button>
        </div>
      </div>
      <% } %>
      <!-- Search End-->
    </div>
  </div>
</header>
