<nav id="top" class="htop">
  <div class="container">
    <div class="row"> <span class="drop-icon visible-sm visible-xs"><i class="fa fa-align-justify"></i></span>
      <div class="pull-left flip left-top">
        <div class="links">
          <ul>
            <li class="mobile"><i class="fa fa-phone"></i>+254 92746432</li>
            <li class="email"><a href="mailto:info@marketshop.com"><i class="fa fa-envelope"></i>info@howdys.com</a></li>
            <li class="wrap_custom_block hidden-sm hidden-xs"><a>Custom Block<b></b></a>
              <div class="dropdown-menu custom_block">
                <ul>
                  <li>
                    <table>
                      <tbody>
                        <tr>
                          <td><img alt="" src="image/banner/cms-block.jpg"></td>
                          <td><img alt="" src="image/banner/responsive.jpg"></td>
                        </tr>
                        <tr>
                          <td><h4>CMS Blocks</h4></td>
                          <td><h4>Responsive Template</h4></td>
                        </tr>
                        <tr>
                          <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                          <td>This is a CMS block. You can insert any content (HTML, Text, Images) Here.</td>
                        </tr>
                        <tr>
                          <td><strong><a class="btn btn-default btn-sm" href="#">Read More</a></strong></td>
                          <td><strong><a class="btn btn-default btn-sm" href="#">Read More</a></strong></td>
                        </tr>
                      </tbody>
                    </table>
                  </li>
                </ul>
              </div>
            </li>
            <li><a href="#">Wish List (0)</a></li>
            <li><a href="checkout.html">Checkout</a></li>
          </ul>
        </div>
        <div id="language" class="btn-group">
          <button class="btn-link dropdown-toggle" data-toggle="dropdown"> <span> <img src="image/flags/gb.png" alt="English" title="English">English <i class="fa fa-caret-down"></i></span></button>
          <ul class="dropdown-menu">
            <li>
              <button class="btn btn-link btn-block language-select" type="button" name="GB"><img src="image/flags/gb.png" alt="English" title="English" /> English</button>
            </li>
            <li>
              <button class="btn btn-link btn-block language-select" type="button" name="GB"><img src="image/flags/ar.png" alt="Arabic" title="Arabic" /> Arabic</button>
            </li>
          </ul>
        </div>
        <div id="currency" class="btn-group">
          <button class="btn-link dropdown-toggle" data-toggle="dropdown"> <span> $ USD <i class="fa fa-caret-down"></i></span></button>
          <ul class="dropdown-menu">
            <li>
              <button class="currency-select btn btn-link btn-block" type="button" name="EUR">€ Euro</button>
            </li>
            <li>
              <button class="currency-select btn btn-link btn-block" type="button" name="GBP">Ksh Kenyan shilling</button>
            </li>
            <li>
              <button class="currency-select btn btn-link btn-block" type="button" name="USD">$ US Dollar</button>
            </li>
          </ul>
        </div>
      </div>
      <div id="top-links" class="nav pull-right flip">
        <ul>
          <!--show login and sign up links if user is not logged in -->
          <% if(!user) {%>
          <li><a href="/loginp">Login</a></li>
          <li><a href="/register">Register</a></li>
          <%}%>

          <!--show logout and display name if current user is logged in -->
          <% if(user) {%>
          <li><a href="/admin">Welcome <%= user.username %></a></li>
          <li><a href="/logout">Logout</a></li>
          <%}%>

        </ul>
      </div>
    </div>
  </div>
</nav>
