<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="format-detection" content="telephone=no" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href="image/favicon.png" rel="icon" />
<title>Howdy's Market</title>
<meta name="description" content="Responsive and clean html template design for any kind of ecommerce webshop">
<!-- CSS Part Start-->
<% include ../partials/bootstrap %>
<!-- CSS Part End-->
</head>
<body>
<div class="wrapper-wide">

  <div id="header">
    <!-- Top Bar Start-->
    <% include ../partials/top %>
    <!-- Top Bar End-->
    <!-- Header Start-->
  <% include ../partials/logo-section %>
    <!-- Header End-->
    <!-- Main Menu Start-->
    <% include ../partials/header %>
    <!-- Main Menu End-->
  </div>


  <div id="container">
    <!-- Feature Box Start-->
    <div class="container">
      <div class="custom-feature-box row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="feature-box fbox_1">
            <div class="title">Free Shipping</div>
            <p>Free shipping on order over $1000</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="feature-box fbox_2">
            <div class="title">Free Return</div>
            <p>Free return in 24 hour after purchasing</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="feature-box fbox_3">
            <div class="title">Gift Cards</div>
            <p>Give the special perfect gift</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="feature-box fbox_4">
            <div class="title">Reward Points</div>
            <p>Earn and spend with ease</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Feature Box End-->
    <div class="container">
      <div class="row">
        <!-- Left Part Start-->
        <aside id="column-left" class="col-sm-3 hidden-xs">
     <% include ../partials/aside %>
        </aside>
        <!-- Left Part End-->
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <!-- Slideshow Start-->
          <div class="slideshow single-slider owl-carousel">
            <div class="item"> <a href="#"><img class="img-responsive" src="image/slider/pic4.jpg" alt="banner 1" style="height:200px; width : 900px"/></a> </div>
            <div class="item"> <a href="#"><img class="img-responsive" src="image/slider/pic5.jpg" alt="banner 2" style="height:200px; width : 900px"/></a> </div>
            <div class="item"> <a href="#"><img class="img-responsive" src="image/slider/pic6.jpg" alt="banner 3" style="height:200px; width : 900px"/></a> </div>
          </div>
          <!-- Slideshow End-->
          <!-- Featured Product Start-->
          <h3 class="subtitle">Vegetables - <a class="viewall" href="/vegetables">view all</a></h3>
          <div class="owl-carousel product_carousel">

            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg1.jpg"  class="img-responsive" style="height : 100px; width : 100px" /></a></div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg2.jpg"  class="img-responsive"  style="height : 100px; width : 100px" /></a></div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg3.jpg"  class="img-responsive"  style="height : 100px; width : 100px" /></a></div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg4.jpg"  class="img-responsive"  style="height : 100px; width : 100px" /></a></div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg5.jpg"  class="img-responsive"  style="height : 100px; width : 100px" /></a></div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg6.jpg"  class="img-responsive"  style="height : 100px; width : 100px" /></a></div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg7.jpg"  class="img-responsive"  style="height : 100px; width : 100px" /></a></div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg8.jpg"  class="img-responsive"  style="height : 100px; width : 100px" /></a></div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg9.jpg"  class="img-responsive"  style="height : 100px; width : 100px" /></a></div>
            </div>
            <div class="product-thumb clearfix">
              <div class="image"><a href="/vegetables"><img src="image/product/veg10.jpg"  class="img-responsive"  style="height : 100px; width : 100px" /></a></div>
            </div>



          </div>
          <!-- Featured Product End-->
          <!-- Banner Start-->
          <div class="marketshop-banner">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="#"><img src="image/banner/sample-banner-3-400x200.jpg" alt="Sample Banner 3" title="Sample Banner 3" /></a></div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="#"><img src="image/banner/sample-banner-1-400x200.jpg" alt="Sample Banner" title="Sample Banner" /></a></div>
              <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12"><a href="#"><img src="image/banner/sample-banner-2-400x200.jpg" alt="Sample Banner 2" title="Sample Banner 2" /></a></div>
            </div>
          </div>
          <!-- Banner End-->
          <!-- Categories Product Slider Start-->
          <div class="category-module" id="latest_category">
            <h3 class="subtitle">Personal Care - <a class="viewall" href="/pcare">view all</a></h3>
            <div class="category-module-content">
              <ul id="sub-cat" class="tabs">
                <li><a href="#tab-cat1">Child Care</a></li>
                <li><a href="#tab-cat2">Ladies</a></li>
                <li><a href="#tab-cat3">Men</a></li>

              </ul>
              <div id="tab-cat1" class="tab_content">
                <div class="owl-carousel latest_category_tabs">

                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/child1.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/child2.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/child3.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/child4.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>

                </div>
              </div>
              <div id="tab-cat2" class="tab_content">
                <div class="owl-carousel latest_category_tabs">
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/lady1.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/lady2.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/lady3.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/lady4.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>

                </div>
              </div>
              <div id="tab-cat3" class="tab_content">
                <div class="owl-carousel latest_category_tabs">
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/man1.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/man2.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>
                  <div class="product-thumb ">
                    <div class="image"><a href="/pcare"><img src="image/product/man3.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

                  </div>

                </div>
              </div>

            </div>
          </div>
          <!-- Categories Product Slider End-->
          <!-- Banner Start -->
          <div class="marketshop-banner">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="image/banner/sample-banner-4-400x150.jpg" alt="2 Block Banner" title="2 Block Banner" /></a></div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"><a href="#"><img src="image/banner/sample-banner-5-400x150.jpg" alt="2 Block Banner 1" title="2 Block Banner 1" /></a></div>
            </div>
          </div>
          <!-- Banner End -->
          <!-- Categories Product Slider Start -->
          <h3 class="subtitle">Staple &amp; Groccers - <a class="viewall" href="/staples">view all</a></h3>
          <div class="owl-carousel latest_category_carousel">

            <div class="product-thumb ">
              <div class="image"><a href="/pcare"><img src="image/product/staple1.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

            </div>
            <div class="product-thumb ">
              <div class="image"><a href="/pcare"><img src="image/product/staple3.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

            </div>
            <div class="product-thumb ">
              <div class="image"><a href="/pcare"><img src="image/product/staple2.jpg" class="img-responsive" style="height : 100px; width : 100px"/></a></div>

            </div>

          </div>
          <!-- Categories Product Slider End -->
          <!-- Brand Product Slider Start-->

          <!-- Brand Product Slider End -->
          <!-- Brand Logo Carousel Start-->
          <h3 class="subtitle"> <a class="viewall" href="category.html"></a></h3>
          <div id="carousel" class="owl-carousel nxt">
            <% for(i=0; i<hproducts.length; i++) { %>
            <div class="item text-center"> <a href="/product/<%= hproducts[i].id %>"><img src="<%= hproducts[i].picture %>" alt="<%= hproducts[i].name %>" class="img-responsive" style="height : 100px; width : 100px" /></a> </div>
             <% } %>
          </div>
          <!-- Brand Logo Carousel End -->
        </div>
        <!--Middle Part End-->
      </div>
    </div>
  </div>
  <!-- JS Part Start-->
  <% include ../partials/footer-script %>
  <!-- JS Part End-->
<!-- footer begins -->
<% include ../partials/footer %>
<!-- footer ends -->

  </div>

</body>
</html>
